# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/

# Dependency directories
node_modules/
node_modules/*
**/node_modules/

# Build directories
dist/
build/

# TypeScript cache & compiled files
*.tsbuildinfo
*.d.ts
*.js.map
*.js
*.jsx
*.d.ts.map

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Executable scripts (Windows PowerShell/Command files)
*.cmd
*.ps1

# Swagger / x-schema command scripts
swagger-jsdoc.cmd
swagger-jsdoc.ps1
x-schema.cmd
x-schema.ps1

# Ignore package-lock.json (optional)
package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignore specific dependency changes
node_modules/@types/
node_modules/@types/*
node_modules/.cache/
node_modules/.bin/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Log files
*.log
logs/
